@{
	ViewData["Title"] = "Đăng Nhập";

}
@model QLDV.Models.LoginInformation;

<form class="login100-form validate-form" method="post" asp-controller="home" asp-action="index">
	<span class="login100-form-logo">
		<img src="~/Login/images/huy_hieu_doan.png" alt="huy hieu doan" height="100" width="100" />
	</span>

	<span class="login100-form-title p-b-34 p-t-27">
		Đăng Nhập
	</span>

	<div class="combobox" data-validate="Đoàn viên">
		<select asp-for="Type">
			<option value="1">Đoàn viên</option>
			<option value="0">Quản lý </option>
		</select>
	</div>

	<div class="wrap-input100 validate-input" data-validate="Enter username">
		<input class="input100" type="text" asp-for="Email" placeholder="Email">
		<span class="focus-input100" data-placeholder="&#xf207;"></span>
	</div>

	<div class="wrap-input100 validate-input" data-validate="Enter password">
		<input class="input100" type="password" asp-for="Password" placeholder="Mật khẩu">
		<span class="focus-input100" data-placeholder="&#xf191;"></span>
	</div>

	@{
		if (ViewBag.LoginStatus != null)
		{
			if (ViewBag.LoginStatus == 0)
			{
				<div class="alert alert-danger">
					Sai thông tin đăng nhập
				</div>
			}
		}
	}

	<div class="container-login100-form-btn">
		<button class="login100-form-btn" type="submit">
			Đăng Nhập
		</button>
	</div>

</form>





<div id="dropDownSelect1"></div>