@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model QLDV.Data.Semester
<div class="container-fluid">
    <div class="card">
        <form class="form-horizontal" method="post" asp-area="QuanLy" asp-controller="HocKi" asp-action="Edit" asp-route-id="@Model.Id">
            <div class="card-body">
                <h4 class="card-title">Nhập thông tin</h4>
                <div class="form-group">
                    <label>
                        Tên

                    </label>
                    <input asp-for="Title" type="text"
                           class="form-control  "
                           id="phone-mask"
                           placeholder=" Kì * Năm **** - ****" />
                </div>

                <div class="form-group">
                    <label class="mt-3">Ngày bắt đầu</label>
                    <div class="input-group">
                        <input asp-for="DayStart" type="text"
                               class="form-control mydatepicker" />
                        <div class="input-group-append">
                            <span class="input-group-text h-100">
                                <i class="mdi mdi-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="mt-3">Ngày kết thúc</label>
                    <div class="input-group">
                        <input asp-for="DayEnd" type="text"
                               class="form-control mydatepicker" />
                        <div class="input-group-append">
                            <span class="input-group-text h-100">
                                <i class="mdi mdi-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="border-top">
                <div class="card-body">
                    <button type="submit" class="btn btn-primary">
                        Sửa
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
