
<!DOCTYPE html>

<html dir="ltr" lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template" />
    <meta name="description"
          content="Matrix Admin Lite Free Version is powerful and clean admin dashboard template, inpired from Bootstrap Framework" />
    <meta name="robots" content="noindex,nofollow" />



    <link href="~/QuanLy/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css"
          rel="stylesheet" />

    <!-- Favicon icon -->
    <link rel="stylesheet"
          type="text/css"
          href="~/QuanLy/assets/libs/select2/dist/css/select2.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/QuanLy/assets/libs/jquery-minicolors/jquery.minicolors.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/QuanLy/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/QuanLy/assets/libs/quill/dist/quill.snow.css" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/QuanLy/assets/images/huy_hieu_doan.png" />

    <link href="~/QuanLy/dist/css/style.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper"
         data-layout="vertical"
         data-navbarbg="skin5"
         data-sidebartype="full"
         data-sidebar-position="absolute"
         data-header-position="absolute"
         data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="#">
                        <!-- Logo icon -->
                        <b class="logo-icon ps-2">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/QuanLy/assets/images/huy_hieu_doan.png"
                                 alt="homepage"
                                 class="light-logo"
                                 width="25" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text ms-2">
                            <!-- dark Logo text -->
                            <img src="~/QuanLy/assets/images/huy_hieu_doan_text.png"
                                 alt="homepage"
                                 class="light-logo" />
                        </span>
                        <!-- Logo icon -->
                        <!-- <b class="logo-icon"> -->
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <!-- <img src="../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->
                        <!-- </b> -->
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none"
                       href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse"
                     id="navbarSupportedContent"
                     data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-start me-auto">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light"
                               href="javascript:void(0)"
                               data-sidebartype="mini-sidebar">
                                <i class="mdi mdi-menu font-24"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <div class="navbar-nav float-end">
                        @{

                            var sessionRank = Context.Session.GetString("RankTitle");

                            <a class="nav-link dropdown-toggle"
                               href="#"
                               aria-expanded="false">
                                @sessionRank
                            </a>

                        }
                    </div>
                    <ul class="navbar-nav float-end">
                        <li class="nav-item dropdown">

                            @{

                                string sessionName = Context.Session.GetString("LoginName");
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   id="navbarDropdown"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    @sessionName
                                </a>

                            }

                            <ul class="dropdown-menu dropdown-menu-end user-dd animated"
                                aria-labelledby="navbarDropdown">     
                                <a asp-area="QuanLy" asp-controller="Home" class="dropdown-item" asp-action="DangXuat"><i class="fa fa-power-off me-1 ms-1"></i> Đăng Xuất</a>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="pt-4">


                        @{
                            if (Context.Session.GetInt32("Rank") == 3)
                            {
                                <li class="sidebar-item">
                                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                                       href="javascript:void(0)"
                                       aria-expanded="false">
                                        <span class="hide-menu">Quản lí Đoàn </span>
                                    </a>
                                    <ul aria-expanded="false" class="collapse first-level">     
                                        <li class="sidebar-item">
                                            <a asp-area="QuanLy" asp-controller="ChiDoan" asp-action="Index" class="sidebar-link">
                                                <span class="hide-menu"> Chi Đoàn </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                               
                            }
                            if (Context.Session.GetInt32("Rank") == 4)
                            {
                                <li class="sidebar-item">
                                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                                       href="javascript:void(0)"
                                       aria-expanded="false">
                                        <span class="hide-menu">Quản lí Đoàn </span>
                                    </a>
                                    <ul aria-expanded="false" class="collapse first-level">
                                        <li class="sidebar-item">
                                            <a asp-area="QuanLy" asp-controller="LienChiDoan" asp-action="Index" class="sidebar-link">
                                                <span class="hide-menu"> Liên Chi Đoàn </span>
                                            </a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a asp-area="QuanLy" asp-controller="ChiDoan" asp-action="Index" class="sidebar-link">
                                                <span class="hide-menu"> Chi Đoàn </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                                       href="javascript:void(0)"
                                       aria-expanded="false">
                                        <span class="hide-menu">Quản lí Hoạt động </span>
                                    </a>
                                    <ul aria-expanded="false" class="collapse first-level">
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       asp-area="QuanLy" asp-controller="HocKi" asp-action="Index"
                                           aria-expanded="false">
                                                <span class="hide-menu">Quản lí kì học</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       asp-area="QuanLy" asp-controller="SuKien" asp-action="Index"
                                           aria-expanded="false">
                                                <span class="hide-menu">Quản lí sự kiện</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                               href="javascript:void(0)"
                               aria-expanded="false">
                                <span class="hide-menu">Quản lí Rèn Luyện </span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       asp-area="QuanLy" asp-controller="Duyet" asp-action="Index"
                                       aria-expanded="false">
                                        <span class="hide-menu">Duyệt Minh Chứng</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       asp-area="QuanLy" asp-controller="TongDiem" asp-action="Index"
                                       aria-expanded="false">
                                        <span class="hide-menu">Thống kê điểm</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                              asp-area="QuanLy" asp-controller="ThanhVien" asp-action="Index"
                               aria-expanded="false">
                                <span class="hide-menu">Quản lí Đoàn Viên</span>
                            </a>

                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="QuanLy" asp-controller="BaiDang" asp-action="Index"
                               aria-expanded="false">
                                <span class="hide-menu">Quản lí bài đăng</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            @RenderBody()


            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center" style=" 
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
">
                All Rights Reserved by Matrix-admin. Designed and Developed by
                <a href="https://www.wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/QuanLy/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/QuanLy/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/QuanLy/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/QuanLy/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/QuanLy/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/QuanLy/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/QuanLy/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!-- <script src="../dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="~/QuanLy/assets/libs/flot/excanvas.js"></script>
    <script src="~/QuanLy/assets/libs/flot/jquery.flot.js"></script>
    <script src="~/QuanLy/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="~/QuanLy/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="~/QuanLy/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="~/QuanLy/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="~/QuanLy/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/QuanLy/dist/js/pages/chart/chart-page-init.js"></script>
    <!-- This Page JS -->
    <script src="~/QuanLy/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/QuanLy/dist/js/pages/mask/mask.init.js"></script>
    <script src="~/QuanLy/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/QuanLy/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/QuanLy/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
    <script src="~/QuanLy/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
    <script src="~/QuanLy/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
    <script src="~/QuanLy/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="~/QuanLy/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/QuanLy/assets/libs/quill/dist/quill.min.js"></script>
    <script src="~/QuanLy/assets/extra-libs/DataTables/datatables.min.js"></script>

    
    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

        /*colorpicker*/
        $(".demo").each(function () {
            //
            // Dear reader, it's actually very easy to initialize MiniColors. For example:
            //
            //  $(selector).minicolors();
            //
            // The way I've done it below is just for the demo, so don't get confused
            // by it. Also, data- attributes aren't supported at this time...they're
            // only used for this demo.
            //
            $(this).minicolors({
                control: $(this).attr("data-control") || "hue",
                position: $(this).attr("data-position") || "bottom left",

                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ", " + opacity;
                    if (typeof console === "object") {
                        console.log(value);
                    }
                },
                theme: "bootstrap",
            });
        });
        /*datwpicker*/
        $('.mydatepicker').datepicker({
            format: 'yyyy/mm/dd',
        });

        jQuery("#datepicker-autoclose").datepicker({
            autoclose: true,
            todayHighlight: true,
        });
        var quill = new Quill("#editor", {
            theme: "snow",
        });
        /****************************************
        *       Basic Table                   *
        ****************************************/
        $("#zero_config").DataTable();
    </script>
    
 
</body>
</html>
